#main{
    height: 100%;
}
#main .top {
    padding: 10px;
    color: #fff;
}
#main .top img{
    width: 30px;
    height: 30px;
}

#main .top .search-div{
    height: 40px;
    width: 70%;
    background-color: #FFF;
    border-radius: 20px;
    color: #666666;
    display: flex;
    align-items: center;
}
#main .topSearch{
    flex: 1;
    background-color: rgb(39, 136, 192)
}
#main .topSearch .am-search-input{
    border-radius: 28px;
}
#main .top{
    background-color: rgb(39, 136, 192);
}
#main .am-grid-item image{
 width: 100%;
}
#main .am-grid-item-content{
    padding-bottom: 0;
}

#main .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 40%!important
}